<%- include('../../fragments/header.ejs')%>
<main>
    <h2>Customer Details</h2>
    <form class="form">
        
            <label for="firstName">First Name: </label>
            <input type="text" name="firstName" id="firstName" value="Jan" disabled />
            <span></span>

            <label for="lastName">Last Name: </label>
            <input type="text" name="lastName" id="lastName" value="Kowalski" disabled />
            <span></span>

            <label for="email">Email: </label>
            <input type="text" name="email" id="email" value="jan.kowalski@carrental.com" disabled />
            <span></span>

        <div>
            <a href="form-edit.ejs" class="list-actions-button-edit">Edit</a>
        </div>

    </form>
        <h3>Order Details</h3>
        <table class="table-list">
            <thead>
            <tr>
                <th>Car</th>
                <th>Date From</th>
                <th>Date To</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>BMW</td>
                <td>2022-02-02</td>
                <td>2022-02-22</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>BMW E92</td>
                <td>2022-02-12</td>
                <td>2022-02-24</td>
                <td>1500</td>
            </tr>
            <tr>
                <td>Mercedes W222</td>
                <td>2022-03-12</td>
                <td>2022-04-01</td>
                <td>3000</td>
            </tr>
            </tbody>
        </table>
    <br>
        <div>
            <a href="list.ejs" class="list-actions-button-details">Back</a>
        </div>

</main>
<%- include('../../fragments/footer.ejs')%>